    {% if config.MAKEMAKE_PAGINATION %}

    <div class="container position-absolute bottom-0 start-50 translate-middle-x py-2 d-flex justify-content-between bd-highlight mb-3" style="margin-bottom: 0 !important; padding: 0 !important;">
                    
        <div class="p-2 bd-highlight">

            {% if mm.pagination_page > 1 %}
            <a href="{{url_for('home',page=mm.pagination_page-1)}}" class="btn btn-outline-secondary" type="submit"><i class="fa fa-arrow-circle-left fa-fw" aria-hidden="true"></i> Précédent</a>

    {% else %}
    <a class="btn btn-outline-secondary disabled" type="button" aria-disabled="true"><i class="fa fa-arrow-circle-left fa-fw" aria-hidden="true"></i> Précédent</button>
    {% endif %}

        </div>


        <div class="p-2 bd-highlight">

    {% if mm.pagination_page < mm.pagination_pages %}
    <a href="{{url_for('home',page=mm.pagination_page+1)}}" class="btn btn-outline-secondary" type="submit">Suivant <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i></a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" type="submit">Suivant <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i></a>
    {% endif %}

        </div>

</div>   
{% endif %}

